<%= render "signed" %>

<h1>Fazer Empréstimo</h1>

<!-- Exibe mensagens flash de alerta e sucesso -->
<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= form_with(model: [@book, @loan], local: true) do |form| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "erro") %> proibiu este empréstimo de ser salvo:</h2>
      <ul>
        <% @loan.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :book_id, value: @book.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= form.label :data_emprestimo, "Data de emprestimo" %><br>
    <%= form.date_field :data_emprestimo %>
  </div>
  <div class="field">
    <%= form.label :data_devolucao_prevista, "Data prevista de devolução" %><br>
<%= form.date_field :data_devolucao_prevista %>
  </div>

  <div class="actions">
    <%= form.submit "Confirmar Empréstimo" %>
    <%= link_to "Meus Empréstimos", book_loans_path(@book), class: "button" %>
  </div>
<% end %>
